################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjetFinal/.vs/ProjetFinal/FileContentIndex/a2f85c0c-c832-459d-8444-14bfd718f05c.vsidx
/.vs/ProjetFinal_Cavalera_Leverdiere/v17/.wsuo
/ProjetFinal/.vs/ProjetFinal/FileContentIndex/29fe0a94-f594-42d2-bde6-3a0f03853f04.vsidx
/ProjetFinal/.vs/ProjetFinal/FileContentIndex/b7daef66-1fc7-4e95-8a95-3cc10b53b208.vsidx
/ProjetFinal/.vs/ProjetFinal/FileContentIndex/f13c7b4f-9192-4740-a221-966a6371f974.vsidx
/ProjetFinal/.vs/ProjetFinal/FileContentIndex/b711b89f-d229-4904-9577-e6d536ef4dce.vsidx
/ProjetFinal/.vs/ProjetFinal/FileContentIndex/06d68113-57d7-4dd9-a2b1-c5210dc89c6d.vsidx
