################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjetFinal/.vs/ProjetFinal/FileContentIndex/a2f85c0c-c832-459d-8444-14bfd718f05c.vsidx
/.vs/ProjetFinal_Cavalera_Leverdiere/v17/.wsuo
